<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Icons -->
  <link rel="icon" href="/icon.png" type="image/png">
  <!-- Styles -->
  <link rel="stylesheet" href="/main.css">
  <!-- Title -->
  <title>Common components</title>
</head>

<body>
  <!-- Vue -->
  <div id="root">{{{ yield }}}</div>

  <!-- SGV -->
  {{{ embed '/sprites.svg' }}}

  <!-- Scripts -->
  <script src="/main.js"></script>
</body>

</html>
